.container {
  width: 100svw;
  height: 100svh;
}

.leftPanel {
  width: 50%;
  height: 100svh;
}

.rightPanel {
  width: 50%;
  height: 100vh;
  position: relative;
  -webkit-box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.1);
}
.formSection {
  width: 60%;
}

.tickerContainer {
  width: 100%;
  position: absolute;
  top: 10%;
  left: -15%;
}

@media (prefers-color-scheme: dark) {
  .rightPanel {
    -webkit-box-shadow: 6px 6px 30px 0px rgba(200, 200, 255, 0.05);
    box-shadow: 6px 6px 30px 0px rgba(200, 200, 255, 0.05);
  }
}
